<% if (locals.user) { %>
    <nav class="navbar navbar-expand-lg bg-light ">
        <div class="container-fluid ">
    
            <a class="navbar-brand " href="#">Navbar</a>
    
        </div>
        </div>
    </nav>
<% }else{ %>
    <h1>header</h1>
<% } %> 

