<html>
    <head>
        <title>
            <%= title %> 
        </title>
        <link rel="stylesheet" href="/css/layout.css">
    </head>
    <body>
        <%- include('header') %> 
        <main>
            <%- body %> 
        </main>
        <%- include('footer') %>
    </body>
</html>